:root {
	--linkColor: #F2AB6E;
	--siteBG: #f4f4f4;
	--pageDetail: #ecedf2;
	--primaryColor: #f3123c;
	--boxBG: #ffffff;
	--formInputBG: #fff;
	--fontColor: #c4c4c4;
	--borderColor: #c4c4c4;
	--disabledBG: #eeeeee;
	--disabledColor: #cccccc;
	--buttonColor: #ffffff;
	--titleColor: #333333;
	--textColor: #666666;
}